@font-face {
    font-family: iowan_old;
    src: url(font/2131-font.otf);
  }
@font-face {
    font-family: inter;
    src: url(font/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
}

/* RIGHT SIDE OF THE CODE */
.left_side {
    font-family: iowan_old;
    position: absolute;
    left: 0;
    right: 50%;
    bottom: 0;
    top: 0;

    .logo{
        position: absolute;
        left: 15%;
        top: 5%;
        width: 7.5%;
        height: auto;
    }

    .job {
        font-size: 235%;
        position: absolute;
        bottom: 7%;
        left: 10%;
    }

    .name {
        font-size: 500%;
        position: absolute;
        bottom: 10%;
        left: 10%;
    }

    .blue{
        position: absolute;
        bottom:0;
    }
    
    .pink{
        position: absolute;
        right: 5%;
        top: 4%;
    }
}
/* END */
.middle_bar{
    height: 100vh;
    width:.01vw;
    border-width:0;
    background-color:rgb(165, 165, 165);
    position: absolute;
    left: 50%;
}
/* RIGHT SIDE OF THE CODE */
.right_side{
    background-color: rgba(0, 255, 255, 0.1);
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 0;

    .image_list{
        overflow-x: auto;
        display:grid;
        gap: 10%;
        grid-template-columns: repeat(4, 1fr);
        padding: 10% 0 10% 5%;
        -ms-overflow-style: none;
        scrollbar-width: none;

        .image_item{
            background-color: white;
            border-style: solid;
            border-width: 0.5px;

            h1{
                font-family: inter;
                font-size: 200%;
                padding-top: 5%;
                padding-left: 5%;
                margin-bottom: -1%;
            }

            p{
                font-family: inter;
                padding-left: 5%;
                font-size: 150%;
                text-decoration: none;
            }
            .genre{
                padding-left: 5%;
                padding-bottom: 3%;

                span{
                    padding: 1% 2%;
                    margin-right: 5%;
                    border-radius: 5px;
                    border-style: none;
                    background-color: #CBECFF;
                    font-family: inter;
                    font-size: 150%; /* Adjust this value according to your needs */
                }
            }

            hr{
                border-style:solid;
            }

            img{
                width: 500px;
                height: auto;
                object-fit: cover;
            }
        }
    }
    .controls{
        position: absolute;
        margin-top: -7%;
        right: 10%;
        
        button:nth-child(1) {
            background-image: url('img/left.png');
        }
        
        button:nth-child(1):hover {
            background-image: url('img/left_hover.png');
        }
        
        button:nth-child(2) {
            background-image: url('img/right.png');
        }
        
        button:nth-child(2):hover {
            background-image: url('img/right_hover.png');
        }
        
    }
    .image_list::-webkit-scrollbar {
        display: none;
    }
    .link_list{
        font-family: inter;;
        padding-top: 5%;
        padding-left: 5%;
        
        img{
            margin-bottom: -0.5%;
        }
        span{
            padding: 0 30%;
        }
        a{
            text-decoration: none;
            color:black;
        }
        a:hover{
            text-decoration:solid;
            color: white;
        }
    }
}