@font-face {
    font-family: First_font;
    src: url(./font/bitstream_iowan_old_style_bt.ttf);
  }
*{
    font-family: First_font;
    margin: 0;
    padding: 0;
}

/* RIGHT SIDE OF THE CODE */
.left_side {
    position: absolute;
    left: 0;
    right: 50%;
    bottom: 0;
    top: 0;

    .logo{
        position: absolute;
        left: 15%;
        top: 5%;
        width: 7.5%;
        height: auto;
    }

    .job {
        font-size: 300%;
        position: absolute;
        bottom: 5%;
        left: 3%;
    }

    .name {
        font-size: 700%;
        position: absolute;
        bottom: 10%;
        left: 3%;
    }

    .blue{
        position: absolute;
        bottom:0;
    }
    
    .pink{
        position: absolute;
        right: 5%;
        top: 4%;
    }
}
/* END */
.middle_bar{
    height: 100vh;
    width:.01vw;
    border-width:0;
    background-color:rgb(165, 165, 165);
    position: absolute;
    left: 50%;
}
/* RIGHT SIDE OF THE CODE */
.right_side{
    background-color: rgba(0, 255, 255, 0.1);
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 0;

    .icon{
        float:left;
        margin-right: 1%;
    }

    #left{
        width: 5%;
        height:5%;
        border-width: 0.5px;
        border-radius: 25px;
        background-color: rgba(255, 109, 109, 0.507);
        position: absolute;
        top: 45%;
        right: 21%;
    }
    
    #right{
        width: 5%;
        height:5%;
        border-width: 0.5px;
        border-radius: 25px;
        background-color: rgb(255, 109, 109);
        position: absolute;
        top: 45%;
        right: 15%;
    }

    .side_scroller{
        padding: 10% 0%;
        padding-left: 9%;
        gap: var();
        display:grid;
        grid-auto-flow: column;
        grid-auto-columns: 25%;
        column-gap: 5%;
        overflow-x: auto;
    }

    .side_scroller::-webkit-scrollbar{
        -webkit-appearance: none;
    }

    .side_element{
        border-width: 1px;
        border-style: solid;
        border-color: black;
        background-color: white;
    }
    .text-location{
        position: inherit;
    }
    .tag{
        padding-top: 5%;
        padding-left: 5%;
    }
}

.right_side .slideshow{
    padding-bottom: 10%;
}
.right_side .tag>a{
    text-decoration: none;
    color:black
}
.right_side .tag>a:hover{
    text-decoration: underline;
}